{% load static %}
{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <style>

    .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}
.nav.navbar-nav.navbar-right li a {
    color: blue;
}

  </style>
<!-- <img src="static/polls/images/head.png" alt=""> -->

  
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <img src="static/polls/images/head.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="#">Disco Panther</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/polls/">Polls</a>
        <a class="nav-link" href="#">Calandar</a>
        
      </div>
    </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{% endblock content %}