{% extends 'home/main.html' %}

{% block content%}

<div class="heading">
    <h1 style="font-size: 4rem">- Calendar -</h1>
</div>

    <!-- Gig Cards -->
<main class="projects">
<section class="projectsList">
    <div class="container">
    <div class="grid grid--three">

        {% for gigs in calendar %}

        <div class="column">
        <div class="card gig">
        <div class="card__body">
            <h3 class="project__title">{{gigs.request}}</h3>
            <ul style="font-size: medium;">
                <li>{{gigs.venue}}</li>
                <li>{{gigs.fee}}</li>
                <li>{{gigs.set_type}}</li>
                <!-- <li>{{gigs.votes.votes}}</li> -->
            </ul>
            <p>{{gigs.additional_info}}</p>
            <div class="project__tags" >

            {% for tag in gigs.tags.all %}
                <span class="tag tag--pill tag--main"">
                    <small>{{tag}}</small>
                </span>
                {% endfor %}


            </div>
   
        </div>
    </div>
    </div>
    <br>

    {% endfor %}
    
</section>
</main>

{% endblock content%}




            <!-- <a href="single-project.html" class="project"> -->
            <!-- <img class="project__thumbnail" src="images/project-a.png" alt="project thumbnail" /> -->
                <!-- <p><a class="project__author" href="profile.html">{{gigs.request}}</a></p> -->
                <!-- <p class="project--rating">
                <span style="font-weight: bold;">98%</span> Postitive
                Feedback (72 Votes)
                </p> -->
                <!-- <div class="project__tags">
                <span class="tag tag--pill tag--main">
                    <small>NextJS</small>
                </span>
                </div> -->
