{% extends 'home/main.html' %}

{% block content %}


<div class="auth__header text-center">
<div class="gigform">
    <main class="formPage my-xl">
    <div class="content-box">
        <form class="form" method="POST" enctype="multipart/form-data ">

            {% for field in form %}
            {% csrf_token %}
            
            <div class="form__field" >
            <label style="color:#76f4b1" for="formInput#text">{{field.label}}</label>
            {{field}}
        </div>  
        {% endfor %}
            
            <input style="background-color: #76f4b1; width: 100px; height: 25px; border-radius: 8px;" type="submit">
        </form>
    </div>
</div>
</div>
</div>


</main>


{% endblock content %}
