/* main ============================================ */

body {
    background: white url("background.png") no-repeat;
    background-size: 100%;
}   


li a {
    color: #76f4b1;
}       

.display {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color:#76f4b1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* index Page ====================================*/

#font {
    font-size: 1.60rem;
}

/* Home Page ====================================*/
#head {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

#butt {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 200px;
    position: relative;
}

/* detail page ======================================= */

.cont {
    height: 200px;
    position: relative;
        
    }

/* results page ======================================= */

#results {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color:#76f4b1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.50rem;
}

/* calendar ======================================= */

.heading {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color:#76f4b1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* gigform ======================================== */

.gigform { 
    display: flex;
    justify-content: center;
    padding-top: 5px;
    color:purple;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;

}


/*  nav bar ======================================= */


.bg-dark {
    background-color: #212529 !important;

  
}
.text-white {

    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;

    -webkit-text-size-adjust: 90%;
    -webkit-tap-highlight-color: transparent;
    color: white !important;
    font-size: 1.3rem;

}
.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
#nav {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 150;
    line-height: 1.5;
    color: #212529;
    /* background-color: teal; */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* tags =========================================================*/

.tag {
    display: inline-flex;
    align-items: center;
    background-color: var(--color-sub);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .tag:not(:last-child) {
    margin-right: 0.25rem;
    margin-bottom: 0.75rem;
  }
  
  .tag > small {
    color: var(--color-white);
  }
  
  .tag--outline > small {
    color: var(--color-sub);
  }
  
  .tag--outline {
    border: 2px solid var(--color-sub);
    background-color: transparent;
    padding: 0.4rem 1rem;
  }
  
  .tag--pill {
    border-radius: 5rem;
  }
  
  .tag--main, .tag--main > small {
    background: #76f4b1;
    color: #b50cff;
    font-weight: 500;
  }
  
  .tag--main, .tag--main > small {
    background: #76f4b1;
    color: #b50cff;
    font-weight: 500;
  }
  
  .tag--lg {
    padding: 0.8rem 3rem;
    font-size: 1.4rem;
  }
  
  .tag--lg:not(:last-child) {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  






